/* Базові налаштування */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#quiz-screen{
    
}

.hide {
  display: none;
}

.correct {
  background-color: green;
  border: 2px solid #c3e6cb;
}

.wrong {
  background-color: red;
}

body {
    background-color: yellow;
}

button{
    border: none;
    background: lightgray;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-left:8px;
}